:root {
  // fonts
  --f-style-primary: 'Manrope', sans-serif;

  // colors
  --c-primary: hsl(150, 100%, 66%);
  --c-error: hsl(0, 100%, 66%);
  --c-black: hsl(218, 23%, 16%);
  --c-dark: hsl(217, 19%, 24%);
  --c-gray: hsl(217, 19%, 38%);
  --c-light: hsl(193, 38%, 86%);
}